.game-page {
  display: flex;
  height: 100vh;
}

.game-board {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.controls {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f8f8f8;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.slider-group label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
